body {
  background: #f4f1de;
  color: #3d405b;
  font-family: "Mulish", sans-serif;
}

a {
  color: inherit;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #3d405b;
  color: #f2cc8f;
  display: flex;
  align-items: center;
  padding: 0 2em;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  padding: 1em;
}

nav h1 {
  text-align: center;
  padding: .5em;
}

nav h1 a {
  text-decoration: none;
  text-transform: uppercase;
  width: max-content;
  display: flex;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
}

main {
  margin: 10rem auto 5rem;
  width: 75%;
}


.method {
  padding: 0;
}
.method li {
  margin-left: 2em;
}

select,
input {
  background: #3d405b;
  color: #f4f1de;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: bold;
  border: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#menu-input, #menu-button {
  display: none;
}

@media only screen and (max-width: 600px) {
  #menu-button {
    display: flex;
  }
  nav #menu-input:checked ~ ul {
    display: flex;
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #3d405b;
    height: calc(100vh - 3em);
    padding: 5em 0;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    display: block;
    width: min-content;
  }
  nav {
    justify-content: space-between;
  }
}
